.copiryit-text {
  position: absolute;
  z-index: 100;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  pointer-events: none;
  transition: top 0.3s ease;
}
@media (max-width: 839.98px) {
  .copiryit-text {
    bottom: 180px;
  }
}
@media (max-width: 479.98px) {
  .copiryit-text {
    font-size: 10px;
  }
}
.opened-fullscreen .copiryit-text {
  bottom: 40px;
}
@media (max-width: 839.98px) {
  .opened-fullscreen .copiryit-text {
    bottom: 30px;
  }
}
.fake-fullscreen .copiryit-text {
  bottom: 40px;
}
@media (max-width: 839.98px) {
  .fake-fullscreen .copiryit-text {
    bottom: 30px;
  }
}
.fancybox__footer .copiryit-text {
  top: -25px;
}
.fake-fullscreen-active .copiryit-text {
  top: 5px;
}